.chat-window {
    position: relative;
    max-width: 400px;
    height: 500px;
    margin: 16px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .conversation-area {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 8px;
    overflow-y: auto;
  }

  .input-container {
    display: flex;
    padding: 8px;
  }

  .chat-input {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4px 8px;
    outline: none;
  }

  .chat-button {
    margin-left: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 12px;
    background-color: #f8f8f8;
    cursor: pointer;
    outline: none;
  }

  .chat-button:hover {
    background-color: #e8e8e8;
  }

  .message {
    padding: 6px 12px;
    margin: 4px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
  }

  .user-message {
    align-self: flex-end;
    background-color: #007bff;
    color: white;
  }

  .received-message {
    align-self: flex-start;
    background-color: #f0f0f0;
    color: #222;
  }

  /* .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #0d6efd;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  } */

  .bouncing-loader {
    display: flex;
    justify-content: center;    
    align-self: flex-start;
  }
  
  .bouncing-loader > div {
    width: 6px;
    height: 6px;
    margin: 6px 3px;
    border-radius: 50%;
    background-color: #a3a1a1;
    opacity: 1;
    animation: bouncing-loader 0.6s infinite alternate;
  }

  @keyframes bouncing-loader {
    to {
      opacity: 0.1;
      transform: translateY(-16px);
    }
  }
  
  .bouncing-loader > div:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .bouncing-loader > div:nth-child(3) {
    animation-delay: 0.4s;
  }